<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product list</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>

<body>
    <%- include('./../layouts/header'); -%>

        <div id="content">
            <h1>Shopping Cart List</h1>
            <div>
                <a href="/products">Back to Product</a>
            </div>
            <div id="cart-lists">
                <% for(let product of productList) {%>
                    <div id="product">
                        <p>Id: <%= product.id %>
                        </p>
                        <p>Name: <%= product.name %>
                        </p>
                        <p>Price: <%= product.price %>
                        </p>
                        <p>Description: <%= product.description %>
                        </p>
                    </div>

                    <% } %>
            </div>
        </div>
        <%- include('./../layouts/footer'); -%>


</body>

</html>